[DEV_ODC]
label = ODC Dev
host = SL80ORA03-D
port = 1522
sid = ODCDEV
user = GLOBUS_APP
password = <YOUR_PASSWORD>
ssl = false

[Test_DB]
label = Test Service
host = gmi-test-rw.globusone.db
port = 1521
service_name = GMIONETEST.wlsokenprddb.wlsokenprdvcn.oraclevcn.com
user = globus_app
password = <YOUR_PASSWORD>
ssl = false

[Stage_DB]
label = Stage Service
host = gmi-stage-ro.globusone.db
port = 1521
service_name = GMIONESTG.wlsokenprddb.wlsokenprdvcn.oraclevcn.com
user = GLOBUS_MNT_VIEW
password = <YOUR_PASSWORD>
ssl = false
