:host {
    display: block;
    margin-bottom: 1rem;
}

.suggestions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

button.mat-stroked-button {
    text-align: left;
    justify-content: flex-start;
    padding: 8px 16px;
    
    span {
        white-space: normal;
        line-height: 1.3;
    }
    mat-icon {
        margin-right: 12px;
        color: var(--chart-accent-1);
    }
}
