.kpi-card {
  text-align: center;
}

.kpi-card mat-card-title {
  font-size: 1rem;
  color: #666;
}

.kpi-card mat-card-content p {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 0.5rem;
}
