/* frontend/src/app/components/connection-form/connection-form.component.scss */
:host {
  display: block;
  margin-bottom: 1rem;
}

.connect-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  gap: 1rem;
  
  mat-form-field {
    flex: 1;
  }
}

.error-message {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 1rem 1rem;
}

mat-spinner {
  display: inline-block;
  margin: 0 5px;
}
